#wrapper{
  width:920px;
  margin:0 auto;
  padding: 0;
}
#header_top {height: 200px;}
/*main menu*/
#menu{
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  background: #333;
}
#menu li{
  display: inline;
  list-style:none;
  margin: 5px 10px;
}
.header{
  width:920px;
}
.fixed{
  position:fixed;
  top:-15px; 
  left:0;
  width: 100%;
}
#content {
  height: 2000px;
}